body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* MAIN ALL STAR STORE VIEW -- START */

.main-area {
  padding: 12em;
  padding-top: 80px;
}

.star-img {
  display: block;
  width: 100%;
  height: auto;
}

.card {
  margin-bottom: 2em;
}

.card a {
  color: black;
  text-decoration: none;
}

.star-name {
  font-weight: 200;
  margin: 7px 0 5px 0;
  color: #3a3a3a;
  font-size: 19px;
}

.star-price {
  font-weight: 600;
  color: #3a3a3a;
  margin: 5px 0 20px 0;
  font-size: 18px;
}

.add-cart-bttn {
  margin: 5px 0 5px 0;
  border: none;
  background-color: #B5D0DC;
  font-size: 13px;
  font-weight: bold;
  color: white;
  /* border: solid; */
  border-radius: 100px;
  letter-spacing: 1px;
  height: 35px;
  width: 125px;
}

.add-cart-bttn:hover {
  background-color: #9BBAC7;

}

.card-content {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 70px 0;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex: 0 1 28%;
}

/* MAIN ALL STAR STORE VIEW -- END */

/*-------NOT FOUND 404 STYLE-----------*/
.backLink {
  margin-top: 20px;
}

.ntFound-content {
  text-align: center;
}
.not-found-header {
  font-weight: 400;
  padding-top: 30%;
  margin-bottom: 10px;
  font-size: 40px;
}
.not-found-description {
  font-weight: 100;
  margin: 0;
  font-size: 20px;
}

.backLink {
  color: black;
  font-weight:200;
  font-size: 20px;
  padding-top: 10%;
  padding-bottom: 15%;
}

.backgroundImg {
  background-image: url("images/Not-found-background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

/*-------NOT FOUND 404 STYLE - END ----------*/

/* ------- Sign in form ----------- */

.hidden {
  display: none;
}

/* ------- Sign in form - END ----------- */

/* ------- Welcome Page - START ----------- */

.welcome-wrapper {
  position: relative;
  top:-200px;
  background-image: url("images/Welcome-page.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  padding-bottom: 200px;
  text-align: center;
  background-color: #F2F8FA;
}

.welcome-bttn {
  position: relative;
  top: 530px;
  outline-style: solid;
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin: auto;
  border-radius: 100px;
  background-color: white;
}

.site-description {
  position: relative;
  top: 470px;
  font-weight: lighter;
  font-size: 20px;
}

.bttn-text {
  color: black;
  font-weight: bold;
}
/* ------- Welcome Page - END ----------- */
#app {

}
